/* MONITOR */
@media screen and (max-width: 1100px) {
    .btn-copiar {
        font-size: 2em;
    }

    .btn-desencriptar {
        font-size: 2rem;
    }

    .btn-encriptar {
        font-size: 2rem;
    }
}

/* TABLET  */
@media screen and (max-width: 950px) {
    .logo {
        width: 15%;
    }

    .btn-copiar {
        font-size: 1.7rem;
        width: 40%;
    }

    .btn-desencriptar {
        font-size: 1.7rem;
        width: 45%;
    }

    .btn-encriptar {
        font-size: 1.7rem;
        width: 45%;
    }

    section {
        display: flex;
        flex-direction: column;
    }

    .contenedorIngreseMsj {
        width: 70%;
        margin: auto;
    }

    .contenedorMsjEncriptado {
        width: 70%;
        margin: auto;
    }

    .mensaje2 {
        margin: auto;
    }
}

/* CELULAR */
@media screen and (max-width: 480px) {
    .logo {
        width: 25%;
    }

    section {
        display: flex;
        flex-direction: column;
    }

    .contenedorIngreseMsj {
        width: 100%;
        margin: auto;
    }

    .contenedorMsjEncriptado {
        width: 90%;
        margin: auto;
    }

    .mensaje2 {
        margin: auto;
        font-size: 1.5rem;
        text-align: center;
    }
}